table {
	font-size: 20px;
	margin: 20px auto;
	margin-top: 40px;
}

th, td {
	padding: 15px;
}

.visited {
	background: url("planeVisited.png") center center no-repeat;
	padding: 15px;
	cursor: pointer;
}

.notVisited {
	background: url('planeNotVisited.png') center center no-repeat;
	padding: 15px;
	cursor: pointer;
}